@model Models.Projet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Intitule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intitule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLivraison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLivraison)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreJour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreJour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
