@model IEnumerable<Models.Projet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Intitule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLivraison)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreJour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Intitule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLivraison)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreJour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjetId })
        </td>
    </tr>
}

</table>
